<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <div ng-include="patientbanner" ng-cloak></div>

                <div class="space-4"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div id="socialhistory-form">
                            <form novalidate class="formValidation form-horizontal field-height" name="socialhistoryForm" >

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="socialHistoryTypeCode"> Name </label>
                                    <div class="col-sm-9">
                                        <select ng-model="socialhistory.socialHistoryTypeCode" name="socialHistoryTypeCode" id="socialHistoryTypeCode" required="true">
                                            <option value="">-- Choose Social History --</option>
                                            <option ng-repeat="s in socialhistoryTypeCodes" value="{{s.code}}" ng-selected="s.code == socialhistory.socialHistoryTypeCode">{{s.displayName}}</option>
                                        </select>
                                        <span ng-show="showError(socialhistoryForm.socialHistoryTypeCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="socialHistoryStatusCode"> Status </label>
                                    <div class="col-sm-9">
                                        <select ng-model="socialhistory.socialHistoryStatusCode" name="socialHistoryStatusCode" id="socialHistoryStatusCode">
                                            <option value="">-- Choose Status Code --</option>
                                            <option ng-repeat="s in problemStatusCodes" value="{{s.code}}" ng-selected="s.code == socialhistory.socialHistoryStatusCode">{{s.displayName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="startDate"> Start Date </label>
                                    <div class="col-sm-9">
                                        <input type="text"  ng-pattern="datePattern" datepicker ng-model="socialhistory.startDate" id="startDate" name="startDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="socialhistoryForm.startDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(socialhistory.startDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="startDate"> End Date </label>
                                    <div class="col-sm-9">
                                        <input type="text"  ng-pattern="datePattern" datepicker ng-model="socialhistory.endDate" id="endDate" name="endDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="socialhistoryForm.endDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(socialhistory.endDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" > </label>
                                    <div class="col-sm-9">
                                        <span ng-show="isEndDateBeforeStartDate(socialhistory.startDate, socialhistory.endDate)" class="patient-form-error"> End date cannot precede start date</span>
                                    </div>
                                </div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a class="btn" href="#/patient/{{selectedPatientId}}/socialhistories" id="socialhistory-back-btn">
                                            <i class="icon-arrow-left bigger-110"></i>
                                            Back
                                        </a>
                                        <a class="btn btn-info" type="button" ng-click="save(socialhistory)" ng-disabled="canSave()" id="socialhistory-save-btn">
                                            <i class="icon-ok bigger-110"></i>
                                            Submit
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->




