
<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <!--<div class="page-header">-->
                    <!--<h1>-->
                        <!--<span ng-bind="currentPage"> </span>-->
                        <!--<small>-->
                            <!--<i class="icon-double-angle-right"></i>-->
                            <!--overview-->
                        <!--</small>-->
                    <!--</h1>-->
                <!--</div>&lt;!&ndash; /.page-header &ndash;&gt;-->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="error-container">
                            <div class="well">
                                <h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="icon-sitemap"></i>
												Generic Error
											</span>
                                    Page Not Found
                                </h1>

                                <hr />

                                <div>
                                    <div class="space"></div>
                                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                        <li>
                                            <i class="icon-hand-right blue"></i>
                                            Re-check the url for typos
                                        </li>
                                    </ul>
                                </div>

                                <hr />
                                <div class="space"></div>

                                <div class="center">
                                    <a class="btn btn-grey" ng-click="goBack()">
                                        <i class="icon-arrow-left"></i>
                                        Go Back
                                    </a>

                                    <a href="#/training" class="btn btn-primary">
                                        <i class="icon-dashboard"></i>
                                        Training
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


