
<div class="longin-layout" >
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <br/><br/><br/><br/><br/>
            <div class="login-container">
                <div class="center">
                    <h1>
                        <i class="icon-leaf green"></i>
                        <span class="red"></span>
                        <span class="blue">{{projectName}}</span>
                    </h1>
                    <h4 class="blue">&copy; {{companyName}}</h4>
                </div>

                <div class="position-relative" >
                    <div id="signup-box" class="signup-box widget-box no-border" style="width:500px;">
                        <div class="widget-body" style="border: 1px solid #438eb9;">
                            <div class="widget-main">
                                <h4 class="header green lighter bigger">
                                    <i class="icon-coffee green"></i>
                                    Reset Your Password and Security Questions
                                </h4>
                                <div class="space-6"></div>
                                <form data-ng-submit="resetPasswordAndSecurityQuestions()" name="resetpasswordSecurityQuestionsForm" novalidate autocomplete="off" class="formValidation form-horizontal field-height" >
                                    <fieldset>

                                        <label class="block clearfix"> Password
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="password1" name="password1" ng-pattern="passwordPattern" class="form-control" ng-minlength="8" data-ng-model="resetPasswordAndQuestions.password1" placeholder="" required ng-change="comparePasswords()"/>
                                                <span ng-show="showError(resetpasswordSecurityQuestionsForm.password1, 'required')" class="patient-form-error">This field is required</span>
                                                <span ng-show="showError(resetpasswordSecurityQuestionsForm.password1, 'minlength')" class="patient-form-error">Password should be at least 8 characters </span>
                                                <span ng-show="resetpasswordSecurityQuestionsForm.password1.$error['pattern']" class="patient-form-error">password should be 8 to 32 character password requiring at least 3 out 4 (uppercase and lowercase letters, numbers and special characters) and no more than 2 equal characters in a row</span>
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix"> Confirm Password
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="password2" name="password2" class="form-control" ng-pattern="passwordPattern"   ng-minlength="8" data-ng-model="resetPasswordAndQuestions.password2" placeholder="" required ng-change="comparePasswords()"/>
                                                <span ng-show="showError(resetpasswordSecurityQuestionsForm.password2, 'required')" class="patient-form-error">This field is required.</span>
                                                <span ng-show="showError(resetpasswordSecurityQuestionsForm.password2, 'minlength')" class="patient-form-error">Password should be at least 8 characters.</span>
                                                <span ng-show="passwordsMatch" class="patient-form-error">Passwords do not match</span>
                                                 <span ng-show="resetpasswordSecurityQuestionsForm.password2.$error['pattern']" class="patient-form-error">password should be 8 to 32 character password requiring at least 3 out 4 (uppercase and lowercase letters, numbers and special characters) and no more than 2 equal characters in a row</span>
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>

                                        <div class="space-10"></div>

                                        <label class="block clearfix"> Security Question 1
                                            <span class="block input-icon input-icon-right">
                                                <select ng-model="resetPasswordAndQuestions.securityQuestion1" name="securityQuestion1" id="securityQuestion1" required ng-change="compareSecurityQuestions()">
                                                    <option value="">-- Choose Security Question 1 --</option>
                                                    <option ng-repeat="s in securityQuestions" value="{{s.code}}">{{s.displayName}}</option>
                                                </select>
                                                <span ng-show="showError(resetpasswordSecurityQuestionsForm.securityQuestion1, 'required')" class="patient-form-error">This field is required</span>
                                            </span>
                                        </label>

                                        <label class="block clearfix"> Security Answer 1
                                            <span class="block input-icon input-icon-right">
                                                <input type="text"  id="securityAnswer1" name="securityAnswer1" data-ng-model="resetPasswordAndQuestions.securityAnswer1" class="form-control" placeholder="Security Answer 1" required/>
                                                <i class="icon-user"></i>
                                            </span>
                                            <span ng-show="showError(resetpasswordSecurityQuestionsForm.securityAnswer1, 'required')" class="patient-form-error">This field is required</span>
                                        </label>

                                        <label class="block clearfix"> Security Question 2
                                            <span class="block input-icon input-icon-right">
                                                <select ng-model="resetPasswordAndQuestions.securityQuestion2" name="securityQuestion2" id="securityQuestion2" required ng-change="compareSecurityQuestions()">
                                                    <option value="">-- Choose Security Question 1 --</option>
                                                    <option ng-repeat="s in securityQuestions" value="{{s.code}}">{{s.displayName}}</option>
                                                </select>
                                            </span>
                                            <span ng-show="showError(resetpasswordSecurityQuestionsForm.securityQuestion2, 'required')" class="patient-form-error">This field is required</span>
                                            <span ng-show="questionsMatch" class="patient-form-error">Security questions must be different</span>
                                        </label>

                                        <label class="block clearfix"> Security Answer 2
                                            <span class="block input-icon input-icon-right">
                                                <input type="text"  id="securityAnswer2" name="securityAnswer2" data-ng-model="resetPasswordAndQuestions.securityAnswer2" class="form-control" placeholder="Security Answer 2" required/>
                                                <i class="icon-user"></i>
                                            </span>
                                            <span ng-show="showError(resetpasswordSecurityQuestionsForm.securityAnswer2, 'required')" class="patient-form-error">This field is required</span>
                                        </label>

                                        <div ng-show="resetPasswordAndQuestionsError" class="red">{{resetPasswordAndQuestionsMsg}}</div>

                                        <div class="space-10"></div>
                                        <div class="clearfix">
                                            <button type="submit" ng-disabled="!resetpasswordSecurityQuestionsForm.$valid || passwordsMatch || questionsMatch" class="width-45 pull-right btn btn-sm btn-success" id="resetPasswordAndQuestions">
                                                Submit <i class="icon-arrow-right icon-on-right"></i>
                                            </button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
