<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()" >
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">

                <div ng-include="patientbanner" ng-cloak></div>

                <div class="space-4"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                                        <div class="table-responsive">
                                            <div class="table-header">
                                                <span class="table-title">Conditions</span>
                                            </div>
                                            <div class="modal-footer no-margin-top">
                                                <div class="col-sm-4 ">
                                                    <div class="dataTables_info pull-left no-margi">
                                                        <label>
                                                            Display
                                                            <select size="1" ng-model="pageSize" ng-change="onPageSizeChange()">
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>
                                                            Records
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="action-buttons field-height">
                                                        <label> Add Condition</label>
                                                        <a class="blue" href="#/patient/{{selectedPatientId}}/conditions/add" id="condition-add-btn">
                                                            <i class="icon-plus-sign purple bigger-130"></i>
                                                        </a>
                                                        <span > | </span>
                                                        <label>Search</label>
                                                        <select size="1" ng-model="searchBy" ng-change="onSearch()">
                                                            <option value="">-- All columns --</option>
                                                            <option value="name">Name</option>
                                                            <option value="status">Status</option>
                                                        </select> <input type="text" name="search" ng-model="criteria" ng-change="onSearch()" placeholder="Search table" size="15"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body no-padding" >
                                                <table id="conditions-table" class="table table-striped table-bordered table-hover no-bottom-margin">
                                                    <thead>
                                                    <tr>
                                                        <th ng-click="sort('problemDisplayName')">
                                                            Name  <i ng-class="{'icon-chevron-up': isSortUp('problemDisplayName'), 'icon-chevron-down': isSortDown('problemDisplayName')}"></i>
                                                        </th>
                                                        <th ng-click="sort('problemStatusCode')">
                                                            Status <i ng-class="{'icon-chevron-up': isSortUp('problemStatusCode'), 'icon-chevron-down': isSortDown('problemStatusCode')}"></i>
                                                        </th>
                                                        <th ng-click="sort('startDate')">
                                                            Start Date  <i ng-class="{'icon-chevron-up': isSortUp('startDate'), 'icon-chevron-down': isSortDown('startDate')}"></i>
                                                        </th>
                                                        <th ng-click="sort('endDate')">
                                                            End Date  <i ng-class="{'icon-chevron-up': isSortUp('endDate'), 'icon-chevron-down': isSortDown('endDate')}"></i>
                                                        </th>
                                                        <th >Infobutton</th>
                                                        <th class="action-column-width">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-show="filteredConditions.length == 0 ">
                                                        <td colspan="6" class="center"> No Condition found </td>
                                                    </tr>
                                                    <tr ng-repeat="condition in filteredConditions = ( conditions | filter:composedCriteria | orderBy:natural(sortField):reverse  )  | pagination:pageNo:pageSize" ng-hide="noRecords">
                                                        <td>{{ condition.problemDisplayName }}</td>
                                                        <td>{{ condition.problemStatusCode}}</td>
                                                        <td>{{ condition.startDate}}</td>
                                                        <td>{{ condition.endDate }}</td>
                                                        <td class="center">
                                                            <medline-popup code="{{condition.problemCode}}" type="Condition"></medline-popup>
                                                        </td>
                                                        <td>
                                                            <show-condition condition="condition"  ></show-condition>
                                                            <a class="green" href="#/patient/{{selectedPatientId}}/conditions/edit/{{condition.id}}" id="condition-edit-{{$index}}">
                                                                <i class="icon-pencil bigger-130"></i>
                                                            </a>
                                                            <delete-condition conditionid="{{ condition.id }}" name="{{ condition.problemDisplayName }}" ondelete="deleteCondition(conditionId)"></delete-condition>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer no-margin-top">
                                                    <div class="col-sm-6">
                                                         <span ng-show="filteredConditions.length > 0 " >
                                                            <div class="dataTables_info pull-left no-margi"> Showing {{startRecord}} to {{showPageSize}} of {{filteredConditions.length}} Conditions </div>
                                                         </span>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <span ng-show="filteredConditions.length > 0 " >
                                                            <ul class="pagination pull-right no-margin pagination-highlight">
                                                                <li class="prev" >
                                                                    <a ng-click="setActivePage(firstPage)">
                                                                        <i class="icon-double-angle-left"></i>
                                                                    </a>
                                                                </li>

                                                                <li ng-repeat="page in pages" ng-class="{'active': page==pageNo}">
                                                                    <a ng-click="setActivePage(page)" >{{page+1}}</a>
                                                                </li>

                                                                <li class="next" >
                                                                    <a ng-click="setActivePage(lastPage-1)">
                                                                        <i class="icon-double-angle-right"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<div id="dialog-confirm" class="hide">
    <div class="alert alert-info bigger-110">
        <span id="dialog-confirm-msg"></span>
    </div>
    <div class="space-6"></div>
    <p class="bigger-110 bolder center grey">
        <i class="icon-hand-right blue bigger-120"></i>
        Are you sure?
    </p>
</div>


<div id="dialog-condition-details" class="hide">
</div><!-- #dialog-patient-details -->
