
<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

           <div class="page-content">
               <div ng-include="patientbanner" ng-cloak></div>

               <div class="space-4"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->


                        <!--<div id="condition-form">-->
                            <form novalidate class="formValidation form-horizontal field-height" name="conditionForm" >

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="conditionCode"> Name </label>
                                    <div class="col-sm-9">
                                        <select ng-model="condition.problemCode" name="conditionCode" id="conditionCode" required="true">
                                            <option value="">-- Choose Condition --</option>
                                            <option ng-repeat="s in problems" value="{{s.code}}" ng-selected="s.code == condition.problemCode">{{s.displayName}}</option>
                                        </select>
                                        <span ng-show="showError(conditionForm.conditionCode, 'required')" class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="problemStatusCode"> Status </label>
                                    <div class="col-sm-9">
                                        <select ng-model="condition.problemStatusCode" name="problemStatusCode" id="problemStatusCode">
                                            <option value="">-- Choose Status Code --</option>
                                            <option ng-repeat="s in problemStatusCodes" value="{{s.code}}" ng-selected="s.code == condition.problemStatusCode">{{s.displayName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="startDate"> Start Date </label>
                                    <div class="col-sm-9">
                                        <input type="text"  ng-pattern="datePattern" datepicker ng-model="condition.startDate" id="startDate" name="startDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="conditionForm.startDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(condition.startDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="startDate"> End Date </label>
                                    <div class="col-sm-9">
                                        <input type="text"  ng-pattern="datePattern" datepicker ng-model="condition.endDate" id="endDate" name="endDate" placeholder="MM/DD/YYYY"/>
                                        <span ng-show="conditionForm.endDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(condition.endDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" > </label>
                                    <div class="col-sm-9">
                                        <span ng-show="isEndDateBeforeStartDate(condition.startDate, condition.endDate)" class="patient-form-error"> End date cannot precede start date</span>
                                    </div>
                                    <div>
                                        <div class="clearfix form-actions">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a class="btn" href="#/patient/{{selectedPatientId}}/conditions" id="condition-back-btn">
                                                    <i class="icon-arrow-left bigger-110"></i>
                                                    Back
                                                </a>
                                                <a class="btn btn-info" type="button" ng-click="save(condition)" ng-disabled="canSave()" id="condition-save-btn">
                                                    <i class="icon-ok bigger-110"></i>
                                                    Submit
                                                </a>
                                               </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        <!--</div>-->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->






