
<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text"  ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <div ng-include="patientbanner" ng-cloak></div>

                <div class="space-4"></div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->


                        <div id="add-procedure-form">
                            <form novalidate class="formValidation form-horizontal field-height" name="procedureForm">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="procedureTypeCode"> Name </label>

                                    <div class="col-sm-9">
                                        <select ng-model="procedure.procedureTypeCode" name="procedureTypeCode" id="procedureTypeCode"
                                                required="true">
                                            <option value="">-- Choose Procedure --</option>
                                            <option ng-repeat="s in procedureCodes" value="{{s.code}}"
                                                    ng-selected="s.code == procedure.procedureTypeCode">{{s.displayName}}
                                            </option>
                                        </select>
                                        <span ng-show="showError(procedureForm.procedureTypeCode, 'required')"
                                              class="patient-form-error">This field is required</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="procedureStatusCode"> Status </label>

                                    <div class="col-sm-9">
                                        <select ng-model="procedure.procedureStatusCode" name="procedureStatusCode"
                                                id="procedureStatusCode">
                                            <option value="">-- Choose Status Code --</option>
                                            <option ng-repeat="s in procedureStatusCodes" value="{{s.code}}"
                                                    ng-selected="s.code == procedure.procedureStatusCode">{{s.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="procedureStartDate"> Start Date </label>

                                    <div class="col-sm-9">
                                        <input type="text"
                                               ng-pattern="datePattern" datepicker
                                               ng-model="procedure.procedureStartDate" id="procedureStartDate" name="procedureStartDate"
                                               placeholder="MM/DD/YYYY"/>
                                        <span ng-show="procedureForm.procedureStartDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(procedure.procedureStartDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="procedureEndDate"> End Date </label>

                                    <div class="col-sm-9">
                                        <input type="text"
                                               ng-pattern="datePattern" datepicker
                                               ng-model="procedure.procedureEndDate" id="procedureEndDate" name="procedureEndDate"
                                               placeholder="MM/DD/YYYY"/>
                                        <span ng-show="procedureForm.procedureEndDate.$error['pattern']" class="patient-form-error">Invalid date</span>
                                        <span ng-show="isFutureDate(procedure.procedureEndDate)" class="patient-form-error">Date should not be in the future</span>
                                    </div>
                                </div>

                                <div class="form-group"  >
                                    <label class="col-sm-3 control-label no-padding-right" > </label>
                                    <div class="col-sm-9">
                                        <span ng-show="isEndDateBeforeStartDate(procedure.procedureStartDate, procedure.procedureEndDate)" class="patient-form-error"> End date cannot precede start date</span>
                                    </div>
                                </div>


                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <a class="btn" href="#/patient/{{selectedPatientId}}/procedures" id="procedure-back-btn">
                                            <i class="icon-arrow-left bigger-110"></i>
                                            Back
                                        </a>
                                        <a class="btn btn-info" type="button" ng-click="save(procedure)" ng-disabled="canSave()" id="procedure-save-btn">
                                            <i class="icon-ok bigger-110"></i>
                                            Submit
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->


