<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <!--<div class="page-header">-->
                    <!--<h1>-->
                        <!--<span ng-bind="currentPage"> </span>-->
                        <!--<small>-->
                            <!--<i class="icon-double-angle-right"></i>-->
                            <!--overview-->
                        <!--</small>-->
                    <!--</h1>-->
                <!--</div>&lt;!&ndash; /.page-header &ndash;&gt;-->
                <div class="space-4"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="col-sm-12">
                            <div class="widget-box">
                                <div class="widget-header header-color-blue" >
                                    <h4 class="lighter smaller">
                                        <i class="icon-book white"></i>Document Library</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main padding-8">
                                        <treecontrol class="tree-classic" tree-model="treedata" options="option" on-selection="openDocument(node)" selected-node="node2">
                                            {{node.title}}
                                        </treecontrol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->




