<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text"  ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <!--<div class="page-header">-->
                    <!--<h1>-->
                        <!--<span ng-bind="currentPage"> </span>-->
                        <!--<small>-->
                            <!--<i class="icon-double-angle-right"></i>-->
                            <!--overview-->
                        <!--</small>-->
                    <!--</h1>-->
                <!--</div>&lt;!&ndash; /.page-header &ndash;&gt;-->
                <div class="space-4"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                                <div class="widget-box col-xs-12">
                                    <div class="widget-header header-color-blue">
                                        <h4>Feedback</h4>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">

                                        <table id="sample-table-1" class="table table-striped table-bordered table-condensed table-hover feedback">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Service Name
                                                    </th>
                                                    <th class="text-center rating-column-width" >
                                                       Rating
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  ng-repeat="feedbackService in feedbackServices">
                                                    <td>{{ feedbackService.name }}</td>
                                                    <td >
                                                        <div rating score="feedbackService.rating_id" max="5" id="{{feedbackService.id}}" updaterating="updateScore(ratingId, id)" class="text-center"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        </div>
                                    </div>
                                </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->