<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                <div ng-include="patientbanner" ng-cloak></div>

                <div class="space-4"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                                <!--<div class="row" >-->
                                    <!--<div class="col-xs-12">-->
                                        <div class="table-responsive ">
                                            <div class="table-header">
                                              <span ng-hide="isDemographics" class="table-title">Patient List</span>
                                              <span ng-show="isDemographics" class="table-title">Demographics</span>
                                            </div>
                                            <div class="modal-footer no-margin-top" ng-hide="isDemographics">
                                                <div class="col-sm-4 " >
                                                    <div class="dataTables_info pull-left no-margi" ng-hide="isDemographics">
                                                        <label>
                                                            Display
                                                            <select size="1" ng-model="pageSize" ng-change="onPageSizeChange()" >
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="100">100</option>
                                                            </select>
                                                            Records
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="action-buttons field-height">
                                                        <label> Add patient</label>
                                                        <a class="blue" href="#/patients/add" id="patient-add-btn">
                                                            <i class="icon-plus-sign purple bigger-130"></i>
                                                        </a>
                                                        <span > | </span>
                                                        <label>Search</label>
                                                        <select size="1" ng-model="searchBy" ng-change="onSearch()" >
                                                            <option value="">-- All columns --</option>
                                                            <option value="firstName">First Name</option>
                                                            <option value="lastName">Last Name</option>
                                                            <option value="telephone">Telephone</option>
                                                        </select>
                                                        <input type="text" name="search" ng-model="criteria" ng-change="onSearch()" placeholder="Search table" size="15" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-body no-padding" >
                                                <table id="sample-table-1" class="table table-striped table-bordered table-hover no-bottom-margin">
                                                    <thead>
                                                    <tr>
                                                        <th ng-click="sort('medicalRecordNumber')">
                                                            Patient ID  <i ng-class="{'icon-chevron-up': isSortUp('medicalRecordNumber'), 'icon-chevron-down': isSortDown('medicalRecordNumber')}"></i>
                                                        </th>
                                                        <th ng-click="sort('fullName')">
                                                            Name <i ng-class="{'icon-chevron-up': isSortUp('fullName'), 'icon-chevron-down': isSortDown('fullName')}"></i>
                                                        </th>
                                                        <th ng-click="sort('administrativeGenderCode')">
                                                            Gender<i ng-class="{'icon-chevron-up': isSortUp('administrativeGenderCode'), 'icon-chevron-down': isSortDown('administrativeGenderCode')}"></i>
                                                        </th>
                                                        <th ng-click="sort('raceCode')">
                                                            Race  <i ng-class="{'icon-chevron-up': isSortUp('raceCode'), 'icon-chevron-down': isSortDown('raceCode')}"></i>
                                                        </th>
                                                        <th ng-click="sort('birthDate')">
                                                            DOB  <i ng-class="{'icon-chevron-up': isSortUp('birthDate'), 'icon-chevron-down': isSortDown('birthDate')}"></i>
                                                        </th>
                                                        <th ng-click="sort('addressPostalCode')">
                                                            Zip Code <i ng-class="{'icon-chevron-up': isSortUp('addressPostalCode'), 'icon-chevron-down': isSortDown('addressPostalCode')}"></i>
                                                        </th>
                                                        <th ng-click="sort('addressStateCode')">
                                                            State <i ng-class="{'icon-chevron-up': isSortUp('addressStateCode'), 'icon-chevron-down': isSortDown('addressStateCode')}"></i>
                                                        </th>
                                                        <th ng-click="sort('addressCountryCode')">
                                                            Telephone <i ng-class="{'icon-chevron-up': isSortUp('addressCountryCode'), 'icon-chevron-down': isSortDown('addressCountryCode')}"></i>
                                                        </th>
                                                        <th class="action-column-width">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="patient in filteredPatients = ( patients | filter:composedCriteria | orderBy:natural(sortField):reverse )  | pagination:(pageNo-1):pageSize">
                                                        <td>
                                                            {{ patient.medicalRecordNumber }}
                                                        </td>
                                                        <td>
                                                            {{ patient.fullName}}
                                                        </td>
                                                        <td> {{ patient.administrativeGenderCodeDisplayName}}</td>
                                                        <td> {{ patient.raceCodeDisplayName }} </td>
                                                        <td> {{ patient.birthDate }}</td>
                                                        <td> {{ patient.addressPostalCode }}</td>
                                                        <td> {{ patient.addressStateCode }}</td>
                                                        <td> {{ patient.telephone }}</td>
                                                        <td>
                                                            <show-patient patient="patient"  id="patient-show-{{$index}}" ></show-patient>

                                                            <a class="green" href="#/patients/edit/{{patient.id}}" id="patient-edit-{{$index}}">
                                                                <i class="icon-pencil bigger-130"></i>
                                                            </a>
                                                            <delete-patient patientid="{{ patient.id }}" name="{{ patient.fullName }}" ondelete="deletePatient(patientId)" ng-hide="isDemographics" id="patient-delete-{{$index}}"></delete-patient>
                                                            <a class="blue" href="#/patient/{{patient.id}}/patientprofile" ng-hide="isDemographics" id="patient-treatmentplan-{{$index}}">
                                                                <i class="icon-stethoscope bigger-130"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="filteredPatients.length == 0">
                                                        <td colspan="9" class="center"> No Patient found </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer no-margin-top"  >
                                                    <div class="col-sm-4" ng-hide="isDemographics">
                                                         <span ng-show="filteredPatients.length > 0 " >
                                                            <div class="dataTables_info pull-left no-margi"> Showing {{startRecord}} to {{showPageSize}} of {{filteredPatients.length}} Patients </div>
                                                         </span>
                                                    </div>

                                                    <div class="col-sm-8" ng-hide="isDemographics">
                                                        <span ng-show="filteredPatients.length > 0" >
                                                             <span style="display: inline-block;height: 3em; text-align: left;">
                                                                 <span ng-if="paginationIndexError" class="red" style=" position: relative; top: 5%; padding-right: 0.5em;"> {{paginationIndexError}}</span>
                                                             </span>

                                                             <span class="pagination pull-right no-margin pagination-highlight">
                                                               <span class="label label-lg arrowed pointercursor" ng-disable="pageNo==firstPage" ng-class="{'label-primary': pageNo!=firstPage}">
                                                                    <span ng-click="setActivePage(firstPage, 0)">
                                                                        <i class="icon-single-angle-left"> </i>
                                                                        First
                                                                    </span>
                                                                </span>
                                                                 <span class="label label-lg pointercursor" ng-disable="pageNo==firstPage" ng-class="{'label-primary': pageNo!=firstPage}" >
                                                                    <span ng-click="setActivePage(pageNo, -1)">
                                                                        <i class=""> </i>
                                                                        Previous
                                                                    </span>
                                                                </span>
                                                               <span> <input type="text" ng-model="pageNo" size="2" style="height:24px;"> of {{lastPage}}</span>

                                                                  <span class="label label-lg pointercursor" ng-disable="pageNo==lastPage" ng-class="{'label-primary': pageNo!=lastPage}" >
                                                                    <span ng-click="setActivePage(pageNo, 1)">
                                                                        <i class=""></i>
                                                                        Next
                                                                    </span>
                                                                </span>

                                                                 <span class="label label-lg arrowed-right pointercursor" ng-disable="pageNo==lastPage" ng-class="{'label-primary': pageNo!=lastPage}" >
                                                                    <span ng-click="setActivePage(lastPage, 0)">
                                                                        <i class="icon-single-angle-right"></i>
                                                                        Last
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                <!--</div><!-- #Patients list table-->



                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->




<div id="dialog-confirm" class="hide">
    <div class="alert alert-info bigger-110">
        <span id="dialog-confirm-msg"></span>
    </div>
    <div class="space-6"></div>
    <p class="bigger-110 bolder center grey">
        <i class="icon-hand-right blue bigger-120"></i>
        Are you sure?
    </p>
</div><!-- #dialog-delete-patient -->

<div id="dialog-patient-details" class="hide" >
</div><!-- #dialog-patient-details -->
