
<div ng-include="headnavbar" ng-cloak></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="" ng-class="{'display': enableDropDownMenu}" ng-click="toggleDropDownMenu()">
            <span class="menu-text" ></span>
        </a>

        <div ng-include="sidenavbar" ng-cloak ></div>

        <div class="main-content">

            <div ng-include="breadcrums" ng-cloak></div>

            <div class="page-content">
                    <div class="page-header patient-banner-info" >
                            <span class="col-sm-4">
                                 <h1><span class="banner-patient-name"> Bloggs</span>, <span class="banner-patient-name"> Joe</span></h1>
                            </span>

                            <span class="col-sm-3">
                                <span class="patient-banner-label">Born</span> <span class="patient-banner-value"> 10/01/1980</span>
                            </span>

                            <span class="col-sm-3">
                                <span class="patient-banner-label">Gender</span> <span class="patient-banner-value"> Male</span>
                            </span>

                            <span class="col-sm-2">
                                <span class="patient-banner-label">Patient ID</span> <span class="patient-banner-value"> 123</span>
                            </span>
                    </div><!-- /.page-header -->
                <div class="space-4"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <h4> Recommendations for Joe Bloggs</h4>

                        </br>

                        <form novalidate name="recommendationForm" class="form-horizontal">

                        <div class="tabbable">

                        <ul class="nav nav-tabs padding-0">

                            <li ng-class="{'active' : activeTab === 'general' }" id="reminder-general-tab">
                                <a data-toggle="tab" class="tab selected" rel="tab1" ng-click="switchTabTo('general')">
                                    <i class="blue icon-info bigger-125"></i>
                                    General
                                </a>
                            </li>

                            <li ng-class="{'active' : activeTab === 'clinicalConsideration'}" id="reminder-clinical-tab">
                                <a data-toggle="tab" class="tab" rel="tab2" ng-click="switchTabTo('clinicalConsideration')">
                                    <i class="blue icon-list-alt bigger-125"></i>
                                    Clinical Consideration
                                </a>
                            </li>

                            <li ng-class="{'active' : activeTab === 'rationale' }" id="reminder-rationale-tab">
                                <a data-toggle="tab" class="tab" rel="tab3" ng-click="switchTabTo('rationale')">
                                    <i class="blue icon-lightbulb bigger-125"></i>
                                    Rationale
                                </a>
                            </li>

                            <li ng-class="{'active' : activeTab === 'tools' }" id="reminder-tools-tab">
                                <a data-toggle="tab" class="tab" rel="tab4" ng-click="switchTabTo('tools')">
                                    <i class="blue icon-gears bigger-125"></i>
                                    Tools
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content profile-edit-tab-content">

                            <div id="tab1" class="tabContent selected" ng-show="activeTab === 'general'">
                                <div id="generalContent">
                                    <br>
                                    <p>
                                        <b>Grade:</b>
                                        I*
                                    </p>
                                    <p>
                                        <b>Specific Recommendations:</b><br/>
                                        <br />The USPSTF concludes that the current evidence is insufficient to assess the balance of benefits and harms of screening&nbsp;adolescents, adults, and pregnant women for illicit drug use.<br /><br />&nbsp;&nbsp;&nbsp;&nbsp; (This recommendation was partially updated for children and adolescents in 2014.&nbsp; For updated information on children and adolescents, see&nbsp;<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.)</p>
                                    <p><b>Frequency of Service:</b><br/>
                                        <font color="red">No Frequency of Service information currently available.</font>
                                    </p>

                                    <p><b>Risk Factor Information:</b></p>
                                    <p><ul>

                                    <font color="red">No Risk Factor Information currently available.</font>
                                </ul></p>

                                </div><br/>

                            </div>

                            <div id="tab2" class="tabContent selected" ng-show="activeTab === 'clinicalConsideration'">

                                <div id="clinicalConsiderationContent">
                                    <br>
                                    <p>
                                        <b>Grade:</b> I*
                                    </p>

                                    <p>
                                        <b>Specific Recommendations:</b>
                                        <br/>

                                        <br />The USPSTF concludes that the current evidence is insufficient to assess the balance of benefits and harms of screening&nbsp;adolescents, adults, and pregnant women for illicit drug use.
                                        <br />
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp; (This recommendation was partially updated for children and adolescents in 2014.&nbsp; For updated information on children and adolescents, see&nbsp;
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.)</p>



                                    <p><b>Clinical Considerations:</b>
                                        <br/>
                                        <br/>
                                        <em><b>This recommendation was partially updated for children and adolescents in 2014.&nbsp; For updated information on children and adolescents, see</b>></em><br /><em><a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.</b></em>
                                        <br />
                                        <br />
                                        <br />
                                        <br />

                                    <h5><b>Patient Population under Consideration</b></h5>
                                    While the rate of illicit drug use in the U.S. is highest between the ages of 18 to 20 years, more than 10% of adolescents aged 12 to17 are known to use illicit drugs.&nbsp; The percentage of adults who regularly use illicit drugs decreases steadily with
                                    age. About 5% of pregnant women report using illicit drugs within the past month.
                                    <h5><b>Patterns of Drug Use</b></h5>
                                    Marijuana is the most commonly used illicit drug in the United States, with about 6% of the population age 12 and older admitting to use within the past month. While cocaine is the second most commonly used illicit drug, it is used by less than 1% of
                                    the population.&nbsp; Only a small minority of Americans use hallucinogens, inhalants, heroin, or illicitly manufactured methamphetamine, although the potential for abuse of or dependence on these substances is high. &nbsp;Illicit (non-medical)
                                    use of prescription-type drugs, categorized as pain relievers, tranquilizers, stimulants, and sedatives, is a growing health problem in the U.S.
                                    <h5><b>Screening Tests</b></h5>
                                    While clinicians should be alert to the signs and symptoms of illicit drug use in patients, the added benefit of screening asymptomatic patients in primary care practice remains unclear. Toxicologic tests of blood or urine can provide objective evidence
                                    of drug use, but such tests do not distinguish between occasional users and those who are impaired by drug use. A few brief, standardized questionnaires have been shown to be valid and reliable in screening adolescent and adult patients for drug
                                    use/misuse. However, the clinical utility of these questionnaires is uncertain. The reported positive predictive values are variable and at best 83% when the questionnaires are applied in a general medical clinic. Moreover, the feasibility of
                                    routinely incorporating the questionnaires into busy primary care practices has yet to be assessed. The validity, reliability, and clinical utility of standardized questionnaires in screening for illicit drug use during pregnancy have not been
                                    adequately evaluated.
                                    <h5><b>Treatment</b></h5>
                                    Although drug-specific pharmacotherapy (e.g., buprenorphine for opiate abuse) and/or behavioral interventions (e.g., brief motivational counseling for cannabis misuse) have been proven effective in reducing illicit drug use in the short term, &nbsp;the
                                    longer-term effects of treatment on morbidity and mortality have been inadequately evaluated.&nbsp; Moreover, these treatments have been studied almost exclusively in individuals who have already developed medical, social, or legal problems due
                                    to drug use, and their effectiveness in individuals identified through screening remains unclear. In all but one trial, treatment was delivered outside the primary care setting, often in specialized treatment facilities. More evidence is needed
                                    on the effectiveness of office-based treatments for illicit drug use/dependence.
                                    <h5><b>Other Approaches to Prevention</b></h5>
                                    While interventions to prevent or reduce illicit drug use have been proposed for use in schools and sites of employment, evidence assessing preventive measures delivered in settings other than primary care practice was outside the scope of the USPSTF
                                    review. However, the Centers for Disease Control and Prevention's (CDC) Task Force on Community Preventive Services has announced plans to assess the effectiveness of selected population-based interventions for preventing or reducing abuse of
                                    drugs (other than tobacco and alcohol) and to make recommendations based on these findings.</p>

                                </div>
                                <br/>

                            </div>

                            <div id="tab3" class="tabContent selected formValidation" ng-show="activeTab === 'rationale'">

                                <div id="rationaleContent">
                                    <br>
                                    <p>
                                        <b>Grade:</b> I*
                                    </p>

                                    <p>
                                        <b>Specific Recommendations:</b>
                                        <br/>

                                        <br />The USPSTF concludes that the current evidence is insufficient to assess the balance of benefits and harms of screening&nbsp;adolescents, adults, and pregnant women for illicit drug use.
                                        <br />
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp; (This recommendation was partially updated for children and adolescents in 2014.&nbsp; For updated information on children and adolescents, see&nbsp;
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.)</p>

                                    <p><b>Rationale:</b>
                                        <br/>
                                        <strong>Importance:</strong>&nbsp; Illicit drug use and abuse are serious problems among adolescents, adults, and pregnant women in the United States, ranking among the 10 leading preventable risk factors for years of healthy life lost to death
                                        and disability in developed countries. &nbsp;(Please note that tobacco use and alcohol misuse are considered in separate screening recommendations of the USPSTF.)
                                        <br />
                                        <br /><strong>Detection:</strong>&nbsp; While standardized questionnaires to screen adolescents and adults for drug use/misuse have been shown to be valid and reliable, there is insufficient evidence to assess the clinical utility of these instruments
                                        when applied widely in primary care settings.
                                        <br />
                                        <br /><strong>Benefits of detection and early treatment:</strong>&nbsp; There is good evidence that various treatments are effective in reducing illicit drug use in the short term. Evidence is insufficient, however, either to demonstrate that treatment
                                        reliably improves social and legal outcomes for patients, or to link treatment directly to longer term improvements in morbidity or mortality. Since all but one published clinical trial of treatment interventions involved individuals who had already
                                        developed problems due to their drug use, it is not known whether the findings are generalizabe to asymptomatic individuals whose illicit drug use is detected through screening. There is fair evidence that, regardless of the patient's history
                                        of treatment, reducing or stopping drug use is associated with improvement in some health outcomes.&nbsp;
                                        <br />
                                        <br /><strong>Harms of detection and early treatment: </strong>&nbsp;There is little evidence of harms associated with either screening for illicit drug use or behavioral interventions used in treatment. Several clinical trials of pharmacotherapy for
                                        drug misuse have reported mild to serious adverse events, although some of these events were likely related to underlying drug use. The specific adverse events noted to occur more frequently in the treatment arm of trials (compared to placebo)
                                        have been previously recognized as potential side effects of the treatment medication and cited on its product label.
                                        <br />
                                        <br /><strong>USPSTF assessment:</strong> The USPSTF concludes that for adolescents, adults, and pregnant women, the evidence is insufficient to determine the benefits and harms of screening for illicit drug use.&nbsp;
                                        <br />
                                        <br /><em>This recommendation was partially updated for children and adolescents in 2014. For updated information on children and adolescents, see </em>
                                        <br /><em><a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.</em>
                                    </p>


                                </div>
                                <br/>


                            </div>

                            <div id="tab4" class="tabContent selected formValidation" ng-show="activeTab === 'tools'">

                                <div id="maincontent">
                                    <br>
                                    <p>
                                        <b>Grade:</b> I*
                                    </p>

                                    <p>
                                        <b>Specific Recommendations:</b>
                                        <br/>

                                        <br />The USPSTF concludes that the current evidence is insufficient to assess the balance of benefits and harms of screening&nbsp;adolescents, adults, and pregnant women for illicit drug use.
                                        <br />
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp; (This recommendation was partially updated for children and adolescents in 2014.&nbsp; For updated information on children and adolescents, see&nbsp;
                                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm">http://www.uspreventiveservicestaskforce.org/uspstf/uspsnonmed.htm</a>.)</p>
                                    <p><b>Tools:</b>
                                    </p>

                                    <p>
                                    <ul>
                                        <li type="square"> <a href="http://www.uspreventiveservicestaskforce.org/uspstf08/druguse/drugsum.pdf" target="_blank" title="Screening for Illicit Drug Use - Clinical Summary of USPSTF Recommendation (PDF)" alt="Screening for Illicit Drug Use - Clinical Summary of USPSTF Recommendation (PDF)"
                                                              class="pageLink">Screening for Illicit Drug Use - Clinical Summary of USPSTF Recommendation (PDF)</a>
                                        </li>
                                    </ul>
                                    </p>

                                    <br>
                                    <a href="http://www.adobe.com/products/acrobat/readstep2_allversions.html" target="_blank">
                                        <!--<img src="C:\Users\himalay.majumdar\Work\Projects\git\icas\client\src\assets\img\acrobat_icon.gif" alt="Download Acrobat Reader" border="0">-->
                                        <img src="assets/img/acrobat_icon.gif">
                                    </a>
                                </div>
                                <br/>

                            </div>

                        </div>

                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <a class="btn" href="#/reminders" id="reminder-back-btn">
                                    <i class="icon-arrow-left bigger-110 "></i>
                                    Back
                                </a>

                                <a class="btn btn-info" href="#/reminders" id="reminder-accept-btn">
                                    <i class="icon-ok bigger-110"></i>
                                    Accept
                                </a>

                                <button class="btn" type="button">
                                    <i class="icon-pause bigger-110"></i>
                                    Hold
                                </button>

                                <button class="btn btn-danger" type="button">
                                    <i class="icon-remove bigger-110"></i>
                                    Reject
                                </button>
                            </div>
                        </div>


                        </form>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

            <!--<div ng-include="loginpage" ></div>-->

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

    <a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" ng-click="gotoTop()">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

